
@{
    ViewData["Title"] = "Index";
}

<section>
    <h1 class="text-center">OUR BEST <span style="color: blue;">OFFERS</span> </h1>
    <hr class="contanier xett">
    <div class="metn text-center p-4">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a arcu eu justo euismod rutrum. Quisque
            id
            enim ac tortor malesuada vestibulum non quis turpis. Ut eget ornare arcu. Suspendisse velit mi,
            pulvinar
            sed mauris eget, efficitur tempor ex.
        </p>
    </div>
    <div class="container d-flex">
        <div class="sol ">
            <div class=" d-flex ">
                <div>

                    <i style="color: white; background-color: blue; width: 40px; height: 40px;"
                       class="p-1 text-center fa-solid fa-car"></i>
                </div>
                <div>

                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>

            </div>
            <div class="d-flex ">
                <div>

                    <i style="color: white; background-color: blue; width: 40px; height: 40px;"
                       class="p-1 text-center fa-solid fa-car"></i>
                </div>
                <div>

                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>

            </div>
            <div class="d-flex ">
                <div>

                    <i style="color: white; background-color: blue; width: 40px; height: 40px;"
                       class="p-1 text-center fa-solid fa-car"></i>
                </div>
                <div>

                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>

            </div>
        </div>
        <div class="orta">
            <img src="http://malikhassan.com/html/car-rental/html/images/featureCarImg.png" alt="">
        </div>
        <div class="sag  ">
            <div class="d-flex">

                <div>
                    <h2>Any Locations Rent</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
                <div>
                    <i style="color: white; background-color: blue; width: 40px; height: 40px;"
                       class="p-1 text-center fa-solid fa-location-pin"></i>
                </div>
            </div>

            <div class="d-flex">

                <div>
                    <h2>Any Locations Rent</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
                <div>
                    <i style="color: white; background-color: blue; width: 40px; height: 40px;"
                       class="p-1 text-center fa-solid fa-location-pin"></i>
                </div>
            </div>


            <div class="d-flex">

                <div>
                    <h2>Any Locations Rent</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
                <div>
                    <i style="color: white; background-color: blue; width: 40px; height: 40px;"
                       class="p-1 text-center fa-solid fa-location-pin"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="text-center p-5">
        <h1>VEHICLE MODELS <span style="color: blue;">FOR RENT</span> </h1>
        <hr class="contanier xett">

    </div>
</section>
<section>
    <div class="container d-flex p-5">
        <div class="">
            <div class="p-1 carst">
                <a href="">Bmw 3 Series</a>
            </div>

            <div class="p-1 carst">
                <a href=""> Bmw 3 Series</a>
            </div>
            <div class="p-1 carst">
                <a href="">Bmw 3 Series</a>
            </div>
            <div class="p-1 carst">
                <a href="">Bmw 3 Series</a>
            </div>
            <div class="p-1 carst">
                <a href="">Bmw 3 Series</a>
            </div>
            <div class="p-1 carst">
                <a href="">Bmw 3 Series</a>
            </div>
            <div class="p-1 carst">
                <a href="">Bmw 3 Series</a>
            </div>
        </div>
        <div>
            <img style="height: 450px;" src="http://malikhassan.com/html/car-rental/html/images/car01.jpg"
                 alt="">
        </div>
        <div class="melumat">
            <div class="carst">
                <p href="">
                    <span style="color: blue; font-size: 25px;"> $ 37.40</span> Rent Per Day
                </p>
                <hr>
            </div>
            <div class="carst">
                <p href="">
                    Model : Bmw
                </p>
                <hr>
            </div>

            <div class="carst">
                <p href="">
                    Doors: 4
                </p>
                <hr>

            </div>
            <div class="carst">
                <p href="">
                    Auto: Auto
                </p>
                <hr>

            </div>
            <div class="carst">
                <p href="">
                    Seats: Auto
                </p>
                <hr>
            </div>
            <div class="carst">
                <p href="">
                    Transmission: Automatic
                </p>
                <hr>
            </div>
            <div class="carst">
                <p href="">
                    MinimumAge : 25 Year
                </p>
            </div>

        </div>
    </div>
</section>
<section class="netice">
    <div class="justify-content-center container d-flex gap-5 p-5">

        <div class="Client">
            <i style="font-size: 50px;" class="fa-solid fa-user-group p-2"></i>
            <h1>399</h1>
            <p>Happy Client</p>
        </div>
        <div class="caaar">
            <i style="font-size: 50px;" class="p-2 fa-solid fa-car"></i>
            <h1>499</h1>
            <p>Cars</p>
        </div>
        <div class="comp">
            <i style="font-size: 50px;" class="p-2 fa-solid fa-laptop"></i>
            <h1>572</h1>
            <p>Project fINISHED</p>
        </div>
        <div class="Award">
            <i style="font-size: 50px;" class="p-2 fa-solid fa-trophy"></i>
            <h1>206</h1>
            <p>Awards</p>
        </div>
    </div>
</section>
<section>
    <div class="d-flex head2 ">
        <div class="container justify-content-center d-flex gap-5 text-center">

            <div class="p-4">
                <h1>
                    Newsletter
                </h1>
                <p>
                    Subscribe for our weekly newsletter.

                </p>
            </div>
            <div class="p-4">
                <input class="inputemail " type="email" placeholder="Enter Your Email Adress"> <button style="height: 55px;">
                    Sign
                    Up
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="1080" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=1&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 1080px;
                    }
                </style><a href="https://www.embedgooglemap.net"></a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 450px;
                        width: 1080px;
                    }
                </style>
            </div>
        </div>
        <div class="emailll container justify-content-center">
            <input class="mt-3 container" style="width: 90%;" type="text" placeholder="Enter Name">
            <br>
            <input class="mt-3 container" style="width: 90%;" type="email" placeholder="Email Adress">
            <br>
            <input class="mt-3 container" style="width: 90%;" type="tel" placeholder="Phome Number">
            <br>
            <input class="mt-3 container" style="width: 90%; height: 20vh;" type="text" placeholder="Comment">

            <button class="btn mt-4">Submit Now </button>
        </div>
    </div>
</section>
