
@*@model Model.Cars
@{
    ViewData["Title"] = "Create";
}






<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Model"></label>
            <input asp-for="Model" class="form-control">
            <span asp-validation-for="Model"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Doors"></label>
            <input asp-for="Doors" class="form-control">
            <span asp-validation-for="Doors"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Seats"></label>
            <input asp-for="Seats" class="form-control">
            <span asp-validation-for="Seats"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Luggage"></label>
            <input asp-for="Luggage" class="form-control">
            <span asp-validation-for="Luggage"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Transmission"></label>
            <input asp-for="Transmission" class="form-input">
            <span asp-validation-for="Transmission"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="AirConditioning"></label>
            <input asp-for="AirConditioning" class="form-input">
            <span asp-validation-for="AirConditioning"></span>
        </div>
        <div class="form-group">
            <select class="form-control" asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands,nameof(Brand.Id),nameof(Brand.Name)))">
                <option disabled selected>Brands</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="ImageFile"></label>
            <input asp-for="ImageFile" class="form-control">
            <span asp-validation-for="ImageFile"></span>
        </div>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@

